.matcheRow {
    display: flex;
    
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgrey;
}

.input {
    margin: 20px;
}
.formul {
    width:auto; margin: 16px; display: flex; justify-content: space-around;
}
.bouton {
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    border-radius: 15px;
    border: 0px;
    padding: 10px;
    margin: 20px;
    display: block;
    max-width: 200px
}
.club {
    display: flex;
    justify-content: space-around;
    width: 200;
}
.score {
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.logo {
    border-radius: 50%;
}